<img class="nk-page-background-top" src="~/assets/images/imageonline-co-overlayed-image (5).png" alt="">

<div class="text-center">
    <h1 class="display-3">Thank you for your purchase!</h1>
    <p class="lead"><strong>Please check your email to activate your games' keys!</strong></p>
    <hr>
    
    <p class="lead">
        <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white" asp-controller="Home" asp-action="Index" role="button">Home</a>
    </p>
    <p class="lead">
        <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white" asp-controller="Games" asp-action="All" role="button">All Games</a>
    </p>
   
</div>