@page
@model LoginModel

@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>

<html lang="en">

<body>

    <h1 class="text-center mt-2">Welcome back, Gamer!</h1>
    <hr class="bg-primary w-75">
    <form id="account" class="mx-auto w-50" method="post">

        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input asp-for="Input.Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
      
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            
        </div>
    </form>

</body>
</html>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
