@page
@model RegisterModel

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html lang="en">

<body>

    <h1 class="text-center mt-2">Become a Gamer</h1>
    <hr class="bg-primary w-75">
    <form  asp-route-returnUrl="@Model.ReturnUrl" style="height: 630px;" class="mx-auto w-50" method="post">
        <div class="form-group">
            <div class="d-flex justify-content-start">
                <label asp-for="Input.Username" class="h4 mb-2">Username</label>
            </div>
            <input type="text" class="form-control" id="Username" name="Username" />
            <span asp-validation-for="Input.Username" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <div class="text-dark  d-flex justify-content-start">
                <label asp-for="Input.Email" class="h4 mb-2">Email</label>
            </div>
            <input type="email" class="form-control" id="Email" name="Email" />
            <span asp-validation-for="Input.Email" class="small text-danger"></span>

        </div>
        <div class="form-group">
            <div class="text-dark  d-flex justify-content-start">
                <label asp-for="Input.Password" class="h4 mb-2">Password</label>
            </div>
            <input type="password" class="form-control" id="password" name="password" />
            <span asp-validation-for="Input.Password" class="small text-danger"></span>

        </div>
        <div class="form-group">
            <div class="text-dark  d-flex justify-content-start">
                <label asp-for="Input.ConfirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
            <span asp-validation-for="Input.ConfirmPassword" class="small text-danger"></span>

        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3" value="Register">Register</button>
        </div>
    </form>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
