@model EditArticleFormModel 

@{ ViewData["Title"] = "AddArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<!DOCTYPE html>

<html lang="en">
<body>

    <h1 class="text-center mt-2">Edit Article!</h1>
    <form class="mx-auto w-50" method="post">
        <div class="form-group">
            <div class="d-flex justify-content-start">
                <label asp-for="Title" class="h4 mb-2"></label>
            </div>
            <input asp-for="Title" type="text" value="@Model.Title" class="form-control" />
            <span asp-validation-for="Title" class="small text-danger"></span>
        </div>
        <div class="d-flex justify-content-start">
            <label asp-for="Content" class="h4 mb-2"></label>
        </div>
        <input asp-for="Content" type="text" class="form-control"/>
        <span asp-validation-for="Content" class="small text-danger"></span>
        <div class="form-group">
            <div class="d-flex justify-content-start">
                <label asp-for="ImageUrl" class="h4 mb-2"></label>
            </div>
            <input asp-for="ImageUrl" type="text" class="form-control" />
        </div>
        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
        <div class="form-group">
            <div class="d-flex justify-content-start">
                <label asp-for="TrailerUrl" class="h4 mb-2"></label>
            </div>
            <input asp-for="TrailerUrl" type="text" class="form-control" />
        </div>
        <span asp-validation-for="TrailerUrl" class="small text-danger"></span>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3" value="Add">Edit</button>
        </div>
    </form>

    <img class="nk-page-background-top" src="~/assets/images/bg-top.png" alt="">
    <img class="nk-page-background-bottom" src="~/assets/images/bg-bottom.png" alt="">
</body>
</html>
