@model AllGamesQueryModel
@inject SignInManager<User> signInManager

@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>


<html lang="en">
<body>

    <div class="nk-main">
        <div class="nk-gap-2"></div>
        <div class="container">
            <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_e738" src="" data-image-width="1120" data-image-height="692">
                <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
                    <h2 class="u-subtitle u-text u-text-1">
                        Gaming Hub<br>Cross-Platform Game Shop<br>
                    </h2>
                    <blockquote class="u-text u-text-2">I'm the hero of a thousand stories. I'm a superhero, an assassin a soldier. I've slain dragons and traveled through portals. I am a spartan, a commander. A king. I've saved a thousand worlds and countless more lives. What am I? I'm a gamer.</blockquote>
                </div>
            </section>

            <div class="nk-widget nk-widget-highlighted">
                <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
                <div class="nk-widget-content">
                    <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=pJeL46w2ips"></div>
                </div>
            </div>
        </div>

        <img class="nk-page-background-top" src="assets/images/bg-top.png" alt="">
        <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">
       
    </div>
</body>
</html>
